.col-xxl-2, .col-xl-3, .col-lg-4, .col-md-5 {
    width: 250px
}

.card {
    --image-height: 240px;
    --image-width: 240px;
    --tab-height: 20px;
    --tab-width: 40%;
    border: 0 none;
    padding: 5px;
}

.card img {
    width: 100%;
}

.card i.backward {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23212529'%3E%3Cpath d='M10.0001 19.0001L19 19.0002L19 17.0002L12.0001 17.0001L12 6.8283L15.9498 10.778L17.364 9.36381L11 2.99985L4.63605 9.36381L6.05026 10.778L10 6.82825L10.0001 19.0001Z'%3E%3C/path%3E%3C/svg%3E");
    display: block;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    vertical-align: middle;
    background-position-y: center;
    background-size: 40%;
}

.card i.movie {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22%23000000%22%20viewBox%3D%220%200%20277.446%20277.446%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M59.488%2C117.299c-0.504-4.237-2.007-8.171-4.273-11.556l202.992-67.776L247.552%2C6.051%20c-1.549-4.638-6.566-7.141-11.201-5.594L15.54%2C74.182c-4.635%2C1.547-7.143%2C6.563-5.594%2C11.201l5.225%2C15.647%20c-5.216%2C4.843-8.488%2C11.752-8.488%2C19.415c0%2C9.924%2C5.486%2C18.586%2C13.582%2C23.127v125.02c0%2C4.891%2C3.967%2C8.853%2C8.854%2C8.853h232.793%20c4.885%2C0%2C8.852-3.963%2C8.852-8.853V117.299H59.488z%20M188.869%2C26.724l26.875-8.973l-6.467%2C26.14l-26.875%2C8.973L188.869%2C26.724z%20M122.47%2C48.893l26.877-8.973l-6.467%2C26.139l-26.875%2C8.974L122.47%2C48.893z%20M33.181%2C133.946c-7.442%2C0-13.498-6.056-13.498-13.5%20c0-7.444%2C6.056-13.5%2C13.498-13.5c7.444%2C0%2C13.5%2C6.056%2C13.5%2C13.5C46.681%2C127.89%2C40.625%2C133.946%2C33.181%2C133.946z%20M56.074%2C71.062%20l26.877-8.973l-6.467%2C26.14l-26.877%2C8.974L56.074%2C71.062z%20M82.476%2C147.192H54.142l14.412-22.746h28.334L82.476%2C147.192z%20M138.554%2C124.446h28.334l-14.412%2C22.746h-28.334L138.554%2C124.446z%20M131.599%2C234.372v-60l47.783%2C30L131.599%2C234.372z%20M222.476%2C147.192h-28.334l14.412-22.746h28.334L222.476%2C147.192z%22%2F%3E%3C%2Fsvg%3E%0A");
    display: block;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    vertical-align: middle;
    background-position-y: center;
    background-size: 40%;
}

.card .dir-tab {
    height: var(--tab-height);
    background: rebeccapurple;
    width: var(--tab-width);
    border-radius: calc(var(--bs-border-radius) - 2px)  calc(var(--bs-border-radius) - 2px) 0 0;
}

.card a.dir {
    height: 100%;
    display: inline-block;
}

.card .dir img {
    float: left;
    height: calc(var(--image-height) / 2 - var(--tab-height) + 5px);
    width: calc(50%);
    object-fit: cover;
}

.card .dir-inner {
    background: rebeccapurple;
    padding: 5px;
    object-fit: scale-down;
    border-radius: 0 var(--bs-border-radius) var(--bs-border-radius);
    height: 220px;
}

.card-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}

.card-body {
    padding: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    justify-content: center;
}

.modal-content {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    width:auto;
    border-radius: 0;
}

.modal video {
    width: 100%;
    height: 100%;
}
