<div class="card">
	{% if '..' == file.filename %}
		<a href="{{ url('list', {directory: file.relativePath}) }}" class="dir text-center">
			<div class="dir-tab"></div>
			<div class="dir-inner">
				<i class="backward"></i>
			</div>
		</a>
	{% elseif file is directory %}
		<a href="{{ url('list', {directory: file.relativePath}) }}" class="dir text-center">
			<div class="dir-tab"></div>
			<div class="dir-inner">
				{% for child in get_thumbnail_images(file) %}
					<img src="{{ url('thumbnail', {image: child.relativePath}) }}">
				{% endfor %}
				<div style="clear:both"></div>
			</div>
		</a>
	{% elseif file is video %}
		<a href="/source/{{ file.relativePath }}" data-type="video/mp4" class="fullscreen-vid">
			<img src="{{ url('screenshot', {video: file.relativePath}) }}">
		</a>
	{% elseif file is image %}
		<a href="/source/{{ file.relativePath }}" class="fullscreen-img">
			<img src="{{ url('thumbnail', {image: file.relativePath}) }}">
		</a>
	{% endif %}
	<div class="card-body">
		<p class="card-text">{{ file.filename }}</p>
	</div>
</div>
