<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	<title>{% block title %}{% endblock %}</title>
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="icon" type="image/png" href="/favicon-32x32.png" />

	{% block stylesheets %}
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
		<link rel="stylesheet" href="/styles/default.css">
	{% endblock %}

	{% block javascripts %}
	{% endblock %}
</head>

<body>
<main class="container-fluid">
	{% block body %}{% endblock %}
</main>
<div id="modal" class="modal"></div>
<script type="application/javascript">
    const media = document.querySelectorAll("a.fullscreen-img, a.fullscreen-vid")
    const modal = document.getElementById('modal');

    let currentIndex = 0;

    function createVideo(link, type) {
        let source = document.createElement("source")
        source.src = link
        source.type = type

        let video = document.createElement("video");
        video.controls = true
        video.appendChild(source)

        let modal = document.getElementById("modal");
        modal.innerHTML = "";
        modal.appendChild(video)

        video.load()
        video.play()
    }

    function createImage(link) {
        let image = document.createElement("img")
        image.className = "modal-content"
        image.src = link

        let modal = document.getElementById("modal");
        modal.innerHTML = "";
        modal.appendChild(image)
    }

    function openModal(target) {
        if (target.className === 'fullscreen-img') {
            createImage(target.getAttribute('href'));
        } else {
            createVideo(target.getAttribute('href'), target.dataset.type);
        }
    }

    document.addEventListener('keydown', function (event) {
        if (event.key === 'Escape') {
            modal.style.display = 'none';
			modal.innerHTML = ""
        }

        if (modal.style.display === 'flex') {
            if (event.key === 'ArrowRight') {
                currentIndex = (currentIndex + 1) % media.length;
                openModal(media[currentIndex])
            }
            if (event.key === 'ArrowLeft') {
                currentIndex = (currentIndex - 1 + media.length) % media.length;
                openModal(media[currentIndex])
            }
        }
    });

    modal.addEventListener('click', function (event) {
        modal.style.display = 'none';
		modal.innerHTML = ""
    });

    media.forEach(link => {
        link.addEventListener('click', function (event) {
            event.preventDefault();

            openModal(event.currentTarget)

            modal.style.display = 'flex';

            currentIndex = Array.from(media).indexOf(event.currentTarget);
        });
    });

</script>
</body>

</html>
