{% extends 'base.html.twig' %}

{% block body %}
	<div class="row g-0">
	{% if parent is not null %}
		<div class="col-xxl-2 col-xl-3 col-lg-4 col-md-5 g-0">
			{% set file = {'relativePath': parent, 'filename': '..'} %}
			{% include 'component/card.html.twig' with {file: file} %}
		</div>
	{% endif %}
	{% for file in directory %}
		<div class="col-xxl-2 col-xl-3 col-lg-4 col-md-5 g-0">
			{% include 'component/card.html.twig' %}
		</div>
	{% endfor %}
	</div>
{% endblock %}
